.game-settings-view {
    display:flex;
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.audioContainer {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
