.tetris {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.tetris-meta {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.audioContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.togglesContainer {
  width: 200px;
}
